body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.room {
  border-collapse: separate;
  border-spacing: 1px;

  & tr {
    & .table__itm {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      outline: 0;
      border: 0;
      font-size: 1em;
      line-height: 40px;
      text-align: center;
      color: white;
      cursor: pointer;
      box-shadow: 0 0 0 rgba(38, 29, 73, 0);

      &.free {
        background-color: limegreen;
      }

      &.used {
        background-color: lightgray;
      }

      &.active {
        background-color: darkorange;
        box-shadow: 0 0 2px rgba(38, 29, 73, 0.3);
        transition: box-shadow 0.3s ease;
      }

      &.free:hover,
      &.used:hover,
      &.active:hover {
        box-shadow: 0 1px 0 rgb(0, 92, 22);
      }
    }
  }
}

.table__popup {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  width: 180px;
  height: 180px;
  padding: 12px 16px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 3px 3px rgba(20, 20, 20, 0.4);
  box-sizing: border-box;

  & p {
    margin: 0;
    padding: 4px 0;
    box-sizing: border-box;
    text-align: left;
    line-height: 16px;
    color: black;

    & b {
      &.free {
        color: limegreen;
      }

      &.used {
        color: lightgray;
      }

      &.active {
        color: darkorange;
      }
    }
  }
}

.popup > .table__popup {
  display: block;
}
