<template name="tables">
    {{#if roomId}}
        <h1 class="title_2">Room #{{roomId}}</h1>
        <table class="room">
            {{#each tablez in tables}}
                <tr>
                    {{#each tablez}}
                        {{> table}}
                    {{/each}}
                </tr>
            {{/each}}
        </table>
    {{/if}}
</template>

<template name="noTables">
    <div class="no_tables">
        <div class="no_tables__inner">
            <h1 class="title_1">Ssory, this room doesn't have tables in it.</h1>
        </div>
    </div>
</template>

<template name="table">
    <td class="table__itm {{status}}">
        {{#if equals status "free"}}
            {{id}}
            <div class="table__popup">
                <form class="new_table">
                    <div class="form__inner">
                        <select class="contact__input contact__input_big new_room_form" name="table[name]">
                            {{> namesOption}}
                        </select>
                    </div>
                    <button type="submit" class="table__btn table__btn_create"><span>Create</span></button>
                </form>
            </div>
        {{else}}
            {{#unless equals status "none"}}
                {{id}}
                <div class="table__popup">
                    <form class="update_table">
                        <div class="table__popup_form">
                            <select class="contact__input contact__input_big new_room_form" name="table[roomId]">
                                {{#each roomsCount}}
                                    <option value="{{id}}">{{id}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="table__popup_info">
                            <p>Id: {{id}}</p>
                            <p>Name: {{firstname}} {{lastname}}</p>
                            <p>Role: {{role}}</p>
                            <p>Status: <b class="{{status}}">{{status}}</b></p>
                        </div>
                        <button type="submit" class="table__btn table__btn_edit"><span>Edit</span></button>
                        <button class="table__btn table__btn_cancel"><span>Cancel</span></button>
                    </form>
                </div>
            {{/unless}}
        {{/if}}
    </td>
</template>

<template name="namesOption">
    {{#each name in names}}
        <option value="{{name.email}}">{{name.firstname}} {{name.lastname}}</option>
    {{/each}}
</template>
